<!-- src/app/sidebar/sidebar.component.html -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']" (click)="toggleCollapse(null)">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">KFM SYS <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Items -->
  @for (item of navItems; track item.label) {
    @if (item.link) {
      <!-- Single Nav Item (e.g., Dashboard) -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="item.link" (click)="toggleCollapse(item)">
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    } @else {
      <!-- Heading (e.g., Interface) -->
      <!-- <div class="sidebar-heading">
        Interface
      </div> -->
      <!-- Collapsible Nav Item (e.g., Cash Flow, Settings) -->
      <li class="nav-item">
        <a
          class="nav-link"
          href="#"
          [class.collapsed]="item.collapsed"
          (click)="toggleCollapse(item); $event.preventDefault()"
          [attr.data-toggle]="'collapse'"
          [attr.data-target]="'#collapse' + item.label.replace(' ', '')"
          [attr.aria-expanded]="!item.collapsed"
          [attr.aria-controls]="'collapse' + item.label.replace(' ', '')"
        >
          <i [class]="item.icon"></i>
          <span>{{ item.label }}</span>
        </a>
        <div
          [id]="'collapse' + item.label.replace(' ', '')"
          class="collapse"
          [class.show]="!item.collapsed"
          [attr.aria-labelledby]="'heading' + item.label.replace(' ', '')"
          data-parent="#accordionSidebar"
        >
          <div class="bg-white py-2 collapse-inner rounded">
            @for (subItem of item.subItems; track subItem.link) {
              <a
                class="collapse-item"
                [routerLink]="subItem.link"
                routerLinkActive="active"
              >
                {{ subItem.label }}
              </a>
            }
          </div>
        </div>
      </li>
    }
    <!-- Divider after each item -->
    <hr class="sidebar-divider my-0">
  }

  <!-- Sidebar Toggler -->
  <div class="text-center d-none d-md-inline">
    <button (click)="toggleSidebar()" class="rounded-circle border-0" id="sidebarToggle" appSidebarToggle></button>
  </div>
</ul>